@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.pi-browser-frame {
  min-height: 100svh;
}

@media (min-width: 980px) {
  .pi-browser-frame {
    width: 750px;
    min-height: 1500px;
    margin-inline: auto;
  }
}
